<!DOCTYPE html>
<html lang="en">
<!--th:replace - we specify the path from where we get our fragment -->
<head id="headId">
    <meta charset="UTF-8">
    <title>!!!title content!!!</title>
</head>
<body>
<div align="center">
    <h1 id="welcome">Welcome to the Guess the Number Game!</h1>
    <h3 id="play-button">
        <!--allows us to click the play button, redirecting us to play.html in the preview-->
        <a id="play"
        href="play.html">
        Click to Play
        </a>
    </h3>
    <div>
        <footer id="footerId">
            <p>Home footer!</p>
        </footer>
    </div>
</div>
</body>
</html>